
/*

En el siguiente CSS encontramos los estilos generales de los ficheros. 

*/



/*---------------------------------------- ELEMENTOS GENERALES ----------------------*/ 

:root{
	--green : #a1cf17; 
	--blue: #191e29;
	--brown: #8e6e53;
	--white: #ffffed;
}	


*{
	margin:0;
	padding:0;

	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;

}


button{
	-webkit-appareance:none;
	appearance: none;
	border:none;
	background-color: transparent;
	cursor: pointer;

}

body{

	min-height: 100vh;
	background: linear-gradient(to bottom, var(--blue), 15%, var(--white));
	overflow-x: hidden;
	scroll-behavior: smooth;
}

ul{
	list-style: none;
}

.cuerpoTexto{
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a{
	color: var(--blue);		
	text-decoration-color: var(--green);	
	font-weight: 600;
}

a:hover{
	color: var(--green);		
}

/*---------------------------------------- ELEMENTOS DEL HEADER ----------------------*/

header{
	height: 90px;
	width: 100%;
	box-shadow: 0px 5px 20px 1px rgb(0 0 0 / 20%);
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	right: 0;
	backdrop-filter: blur(5px);
	background-color: rgba(25,30,41,0.3);
	z-index: 10;
}

nav{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav a {
	height: 80%;	
	margin: 0 20px;
}

header a img{
    width: 150px;
    margin-left: 20px;
}

nav ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 250px;
	
	
}

nav ul a{
	text-decoration: none;
	color: var(--white);	
	transition: 5ms;
}

nav ul a:hover{	
	color: var(--green);
}


.abrir, .cerrar{
	display: none;
}



/*---------------------------------------- ESTILOS SECTION GENERALES ----------------------*/
.cuerpoTexto section{
	padding: 0 5%;
	max-width: 900px;
	display: flex;
	align-items: start;
	flex-direction: column;
	color: var(--blue);
	margin-bottom: 50px;
}

.cuerpoTexto section h2{
	font-size: 3em;
	margin: 10px auto 30px;
	text-transform: uppercase;
}

.cuerpoTexto section h3{
	margin: 50px auto;
	font-size: 3em;
	text-align: center;
}

.cuerpoTexto section p{
	margin: 10px 0;
	text-align: justify;
}


/*---------------------------------------- FOOTER ----------------------*/

footer{	
	height: 90px;	
	background-color: var(--blue);	
	color: var(--white);	
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}





@media screen and (max-width:600px){


	.cuerpoTexto section h3{
		font-size: 1.5em;
	}



	nav{
		position:fixed;
		top:-100vh;
		right: 0;
		padding:20px;
		width: 50%;
		height: calc(100vh - 40px);
		background-color: var(--blue);
		transition: top 0.8s;
	}

	.desplegado{
		top:0;
	}

	nav ul{
		display: block;
	}

	nav li:not(:last-child){
		margin-right:0;
	}

	nav li:not(:first-child){
		margin-top:20px;
	}

	nav a{
		color:white;
		font-size: 1.5em;
	}

	.cerrar{
		display:block;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor:pointer;
		color:white;
		border:none;
		font-size:2em;
	}

	.abrir{
		border:1px solid #999;
		border-radius: 5px;
		display: block;
		width: 35px;
		padding:5px 5px 0;
		cursor: pointer;
		margin-right: 20px;
	}

	.abrir span{
		display: block;
		height: 4px;
		background-color: var(--green);
		margin-bottom:5px;
	}

	header a img{
		width: 100px;
		margin-left: 10px;
	}
	

}